### DB 연동
 - oracle 연동
 - pip install oracledb

In [1]:
import oracledb
from datetime import datetime

In [2]:
conn = oracledb.connect(user='c##java', password='12345', dsn='localhost/xe')

cursor = conn.cursor()

In [3]:
now = datetime.today()
now

datetime.datetime(2025, 6, 10, 11, 40, 42, 922461)

In [5]:
sql ="select * from boardtbl where bno between 1 and 10"
cursor.execute(sql)

In [6]:
for row in cursor.fetchall():
    print(row)

(1, datetime.datetime(2025, 5, 13, 9, 54, 30, 297025), datetime.datetime(2025, 5, 13, 9, 54, 30, 297025), 'Board Content1', 'user6@gmail.com', 'Board Title1')
(2, datetime.datetime(2025, 5, 13, 9, 54, 30, 574867), datetime.datetime(2025, 5, 13, 9, 54, 30, 574867), 'Board Content2', 'user5@gmail.com', 'Board Title2')
(3, datetime.datetime(2025, 5, 13, 9, 54, 30, 605849), datetime.datetime(2025, 5, 13, 9, 54, 30, 605849), 'Board Content3', 'user2@gmail.com', 'Board Title3')
(4, datetime.datetime(2025, 5, 13, 9, 54, 30, 644826), datetime.datetime(2025, 5, 13, 9, 54, 30, 644826), 'Board Content4', 'user8@gmail.com', 'Board Title4')
(5, datetime.datetime(2025, 5, 13, 9, 54, 30, 682805), datetime.datetime(2025, 5, 13, 9, 54, 30, 682805), 'Board Content5', 'user5@gmail.com', 'Board Title5')
(6, datetime.datetime(2025, 5, 13, 9, 54, 30, 699795), datetime.datetime(2025, 5, 13, 9, 54, 30, 699795), 'Board Content6', 'user2@gmail.com', 'Board Title6')
(7, datetime.datetime(2025, 5, 13, 9, 54, 30, 710789), datetime.datetime(2025, 5, 13, 9, 54, 30, 710789), 'Board Content7', 'user3@gmail.com', 'Board Title7')
(8, datetime.datetime(2025, 5, 13, 9, 54, 30, 718783), datetime.datetime(2025, 5, 13, 9, 54, 30, 718783), 'Board Content8', 'user2@gmail.com', 'Board Title8')
(9, datetime.datetime(2025, 5, 13, 9, 54, 30, 777750), datetime.datetime(2025, 5, 13, 9, 54, 30, 777750), 'Board Content9', 'user2@gmail.com', 'Board Title9')
(10, datetime.datetime(2025, 5, 13, 9, 54, 30, 799738), datetime.datetime(2025, 5, 13, 9, 54, 30, 799738), 'Board Content10', 'user4@gmail.com', 'Board Title10')

In [9]:
#sql = "select * from boardtbl where bno=:bno"
sql = "select * from boardtbl where bno=:1"
cursor.execute(sql,(1,))
cursor.fetchone()

(1,
 datetime.datetime(2025, 5, 13, 9, 54, 30, 297025),
 datetime.datetime(2025, 5, 13, 9, 54, 30, 297025),
 'Board Content1',
 'user6@gmail.com',
 'Board Title1')

In [12]:
sql = "insert into boardtbl (title,content,member_id, created_date, updated_date)"
sql += "values(:1,:2,:3,:4,:5)"

data = ('python','python data','user1@gmail.com',now, now)
cursor.execute(sql,data)
conn.commit()

In [15]:
sql = "update boardtbl set title=:1, updated_date=:2 where bno=:3"

now = datetime.today()

cursor.execute(sql,('update title', now, 102))
conn.commit()

In [16]:
sql = "delete from boardtbl where bno=:1"

cursor.execute(sql,(102,))
conn.commit()