### DB 연동
 - 내장 db:SQLite(휴대폰...등에 있음)
    - RDBMS: 테이블 형태 DB

In [1]:
import sqlite3
from datetime import datetime

In [2]:
print('version', sqlite3.sqlite_version)

version 3.49.1

In [4]:
now = datetime.now()
print(now)

#원하는 형식으로 변경
nowDateTime = now.strftime("%Y-%m-%d %H:%M:%S")
print(nowDateTime)

2025-06-10 10:48:57.918220
2025-06-10 10:48:57

In [ ]:
#database 하나 생성
#isolation_level : autocommit 하지 않기

conn = sqlite3.connect("./test.db", isolation_level=None)

In [ ]:
#cursor : 테이블을 가리키는 기능, 이것으로 접근

cursor = conn.cursor()

In [9]:
#테이블 생성
sql = "create table if not exists users(id integer primary key, username text, email text, phone text, website text, regdate text)"

cursor.execute(sql)

In [ ]:
#create(insert)

sql = "insert into users(id,username,email,phone,website,regdate)"

sql += "values(1, 'Kim','Kim@gmail.com','010-1234-1234','Kim.com',?)"


# ? : 튜플로 지정하기
cursor.execute(sql, (nowDateTime, ))

In [ ]:
sql = "insert into users(id,username,email,phone,website,regdate)"

sql += "values(?,?,?,?,?,?)"

cursor.execute(sql, (2, 'Park','Park@gmail.com','010-1234-5678','Park.com', nowDateTime))

In [16]:
userList =[
(3, 'Hong','Hong@gmail.com','010-1234-1234','Hong.com', nowDateTime),
(4, 'Cho','Cho@gmail.com','010-1234-1234','Cho.com', nowDateTime),
(5, 'Yoo','Yoo@gmail.com','010-1234-1234','Yoo.com', nowDateTime)
]

cursor.executemany(sql, userList)

In [17]:
#W조회(Read) - fetchone(), fetchmany(), fetchall()

sql = "select * from users"

cursor.execute(sql)

In [18]:
cursor.fetchone()

(1, 'Kim', 'Kim@gmail.com', '010-1234-1234', 'Kim.com', '2025-06-10 10:48:57')

In [19]:
cursor.fetchmany(size=2)

[(2,
  'Park',
  'Park@gmail.com',
  '010-1234-5678',
  'Park.com',
  '2025-06-10 10:48:57'),
 (3,
  'Hong',
  'Hong@gmail.com',
  '010-1234-1234',
  'Hong.com',
  '2025-06-10 10:48:57')]

In [20]:
cursor.fetchall()

[(4,
  'Cho',
  'Cho@gmail.com',
  '010-1234-1234',
  'Cho.com',
  '2025-06-10 10:48:57'),
 (5,
  'Yoo',
  'Yoo@gmail.com',
  '010-1234-1234',
  'Yoo.com',
  '2025-06-10 10:48:57')]

In [22]:
sql = "select * from users"

cursor.execute(sql)

for row in cursor.fetchall():
    print(row)

(1, 'Kim', 'Kim@gmail.com', '010-1234-1234', 'Kim.com', '2025-06-10 10:48:57')
(2, 'Park', 'Park@gmail.com', '010-1234-5678', 'Park.com', '2025-06-10 10:48:57')
(3, 'Hong', 'Hong@gmail.com', '010-1234-1234', 'Hong.com', '2025-06-10 10:48:57')
(4, 'Cho', 'Cho@gmail.com', '010-1234-1234', 'Cho.com', '2025-06-10 10:48:57')
(5, 'Yoo', 'Yoo@gmail.com', '010-1234-1234', 'Yoo.com', '2025-06-10 10:48:57')

In [23]:
sql = "select * from users where id=?"
cursor.execute(sql,(3,))
cursor.fetchall()

[(3,
  'Hong',
  'Hong@gmail.com',
  '010-1234-1234',
  'Hong.com',
  '2025-06-10 10:48:57')]

In [ ]:
sql = "select * from users where id in (?,?)"

cursor.execute(sql,(3,5))
cursor.fetchall()

[(3,
  'Hong',
  'Hong@gmail.com',
  '010-1234-1234',
  'Hong.com',
  '2025-06-10 10:48:57'),
 (5,
  'Yoo',
  'Yoo@gmail.com',
  '010-1234-1234',
  'Yoo.com',
  '2025-06-10 10:48:57')]

In [28]:
#username : Hong

sql = "select * from users where username=?"

cursor.execute(sql,("Hong",))
cursor.fetchall()

[(3,
  'Hong',
  'Hong@gmail.com',
  '010-1234-1234',
  'Hong.com',
  '2025-06-10 10:48:57')]

In [29]:
#update(수정)


sql = "update users set phone=? where id=?"

cursor.execute(sql, ('010-4567-8528', 2))

In [30]:
# delete(삭제)

sql = "delete from users where id=?"
cursor.execute(sql,(5,))