### 함수
``` 
 def 함수명(매개변수) : 
        수행할 문장n
```

In [1]:
def add(a,b):
    return a + b

In [4]:
print(add(5,6))

11

In [5]:
def say():
    return "Hi"

print(say())

Hi

In [6]:
#+매개변수를 지정할 수 있음
print(add(a=7, b=5))

12

In [ ]:
#기본 매개변수 지정 #n 미지정시 2번만.
def print_n_times(value, n=2):
    for i in range(n):
        print(value)

In [9]:

print_n_times("안녕하세요",5)

안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요

In [ ]:
#가변 매개변수 ("*"~로 선언)

def add_many(*args):
    print(args)

#가변 매개변수 뒤에는 일반매개변수가 올 수 없음 = 가변 매개변수는 늘 마지막에 선언. = 일반은 앞에
#가변매개변수는 하나만 사용한다.
def add_many2(*args, n):
    print(args)

In [15]:
#얼마나 필요할지 모를 때 가변 매개변수 사용
add_many()#없든
add_many("35","24","45")#3개넣든
add_many("A","B","C","D")#4개 넣든
add_many([1,2,3,4,5])#[]로 오든


# add_many2([1,2,3,4,5],33)

()
('35', '24', '45')
('A', 'B', 'C', 'D')
([1, 2, 3, 4, 5],)

In [37]:
#일반,가변 매개변수 함께 선언
def add_mul(choice, *args):
    if choice == "add":
        result = 0
        for i in args:
            result = result + i
    elif choice == "mul":
        result = 1
        for i in args:
            result = result * i
    return result

In [38]:
print(add_mul("add",10,11,12,13))
print(add_mul("mul",10,11,12,13))

46
17160

In [24]:
#키워드 매개변수 : **kwargs
#매개변수를 딕셔너리 형태로 처리

def args_func1(**kwargs):
    print(kwargs)
    for k in kwargs.keys():
        print(k)
    for v in kwargs.values():
        print(v)

In [25]:
args_func1(name ="Kim")
args_func1(name ="Kim", age = 15, active = "Test")
args_func1(name ="Kim", year = "2025")

{'name': 'Kim'}
name
Kim
{'name': 'Kim', 'age': 15, 'active': 'Test'}
name
age
active
Kim
15
Test
{'name': 'Kim', 'year': '2025'}
name
year
Kim
2025

In [29]:
def example_mul(arg1, arg2=5, *args, **kwargs):
    print(arg1, arg2, args, kwargs)

In [30]:
example_mul(10,20)
example_mul(10)
example_mul(10,15,"park","kim")
example_mul(10,15,"park","kim", age= 25, name="choi")

10 20 () {}
10 5 () {}
10 15 ('park', 'kim') {}
10 15 ('park', 'kim') {'age': 25, 'name': 'choi'}

In [ ]:
#다중 리턴(처럼 보이나 실상 tuple 로 묶어서 하나로 내보내는 것 | 리턴값 하나)
def func(a,b):
    return a+b, a*b

In [36]:
print(func(5,6))

(11, 30)

In [39]:
def func2(a,b):
    return [a+b, a*b, a-b]

In [41]:
print(func2(11,6))

[17, 66, 5]

In [51]:
#[사칙연산]
# 두개의 숫자와 세개의 매개변수 입력받아 사칙연산 결과 리턴 받는 함수 생성

def fourRules(x,y,op):
    result = 0
    if op == "+":
        result = x + y
    elif op == "-":
        result = x - y 
    elif op == "*":
         result = x * y   
    elif op == "/":
         result = x / y
    return result

In [50]:
print(fourRules(5,6,"+"))
print(fourRules(15,6,"-"))
print(fourRules(6,6,"*"))
print(fourRules(10,6,"/"))

11
9
36
1.6666666666666667

In [ ]:
#람다함수
#익명함수
#한번만 쓸 때 사용함.

def square(x):
    return x**2


square2 = lambda x:x**2

In [54]:
print(square(5))

25

In [ ]:
print(type(square2)) #타입: <class 'function'>

<class 'function'>

In [57]:
print(square2(6))

36

In [ ]:
def add(a,b):
    return a + b

add2 = lambda a,b : a+b

In [60]:
print(add2(6,11))

17

In [65]:
list1 = ["bob", "charles", "alexander3", "teddy"]

print(list1)
list1.sort() #알파벳 순서대로 오름차순(default)
print(list1)

['bob', 'charles', 'alexander3', 'teddy']
['alexander3', 'bob', 'charles', 'teddy']

In [ ]:
# 문자의 길이가 짧은 순서대로 정렬
# => sort 기준을 만들어야 함.

def str_len(s):
    return len(s)

list1.sort(key=str_len)
list1

['bob', 'teddy', 'charles', 'alexander3']

In [66]:
#람다식으로 

list1 = ["bob", "charles", "alexander3", "teddy"]

list1.sort(key=lambda s:len(s))
list1

['bob', 'teddy', 'charles', 'alexander3']

In [73]:
#filter, map: 실행 후 새로운 리스트로 반환

list1 = [1,2,3,4,5,7,9,10,12,14]

#list1에서 짝수만 추출한 후 새로운 리스트로 만드는 함수 생성
list2 = [x for x in list1 if x % 2 == 0]
print(list2)

def even(data):
    return [x for x in data if x % 2 == 0]

[2, 4, 10, 12, 14]

In [72]:
print(even([22,3,4,5,6,7,9,8]))
print(even(list1))

[2, 4, 10, 12, 14]
[2, 4, 10, 12, 14]

In [ ]:
# filter(함수, 필터 적용할 list)
#filter( even,list1) #<filter at 0x21e9dbdb820>
#필터링할 조건만 작성해준다.
def even(n):
    return n % 2 == 0

list(filter(even, list1))

[2, 4, 10, 12, 14]

In [77]:
list(filter(lambda n :  n % 2 == 0, list1))

[2, 4, 10, 12, 14]

In [78]:
#map(함수, 리스트)

def mul(x):
    return x **2

list(map(mul, list1))

[1, 4, 9, 16, 25, 49, 81, 100, 144, 196]

In [79]:
list(map(lambda x : x**2 , list1))

[1, 4, 9, 16, 25, 49, 81, 100, 144, 196]