### 리스트
 - java/javascript 의 배열과 개념 동일
 - javascript 의 배열과 동작 방식이 동일함(데이터 여러 타입을 담을 수 있음)

In [ ]:
#list생성 : 데이터 분석, crolling.. 등 정말 많이 사용한다/java의 배열 개념.
#list(함수) 
list1 = []
list2 = ["a", "b", "c", 1, 2, 3 ]
list3 = [1, 2, 3, 4, 5.5, 6.5 ]
list4 = [1, 2,["Life", "is" ,"short"]] #2차원 리스트
list5 =list('34')

In [4]:
print(list1)
print(list2)
print(list3)
print(list4)
print(list5)

[]
['a', 'b', 'c', 1, 2, 3]
[1, 2, 3, 4, 5.5, 6.5]
[1, 2, ['Life', 'is', 'short']]
['3', '4']

리스트 인덱싱과 슬라이싱
(인덱싱은 문자와 똑같음)

In [11]:
print(list2[0])
print(list4[2])
print(list4[-1])
print(list4[-1][0])
print(list5[-1])

a
['Life', 'is', 'short']
['Life', 'is', 'short']
Life
4

In [16]:
list6 = [1,2,["a", "b", ["life", "is"]]]

#is 글자 출력
print(list6[2][2][1])
print(list6[-1][-1][-1])

is
is

In [20]:
print(list2)
print(list2[:2])
print(list2[2:])

print(list4)
print(list4[2][:2])

['a', 'b', 'c', 1, 2, 3]
['a', 'b']
['c', 1, 2, 3]
[1, 2, ['Life', 'is', 'short']]
['Life', 'is']

In [ ]:
# +(연결) , *(반복) 
print(list2 + list3 )
print(list2 * 3 )

['a', 'b', 'c', 1, 2, 3, 1, 2, 3, 4, 5.5, 6.5]
['a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3]

In [32]:
list2[1] = 'd'
print(list2)

list2[1:2] = [10,11,12]
print(list2)

list2[1] = [15,16,17]
print(list2)

['a', 'd', 11, 12, 11, 12, 'c', 1, 2, 3]
['a', 10, 11, 12, 11, 12, 11, 12, 'c', 1, 2, 3]
['a', [15, 16, 17], 11, 12, 11, 12, 11, 12, 'c', 1, 2, 3]

In [34]:
#list 요소 삭제
del list2[1]
print(list2)

['a', 11, 12, 11, 12, 11, 12, 'c', 1, 2, 3]

In [36]:
#len() : 길이
len(list2)

11

In [39]:
for i in list2:
    print(i, end="  ")

a  11  12  11  12  11  12  c  1  2  3

리스트 함수

In [51]:
#append() : list 뒤에 요소 추가

list5.append('5')
#list5.append('5', '6', 7) #list는 여러개 한번에 안되기에 하나씩 또는 묶어서 보내야 함 
list5

list5.append([6,7,8])
list5

['3', '4', '', '5', '5', '5', '5', '5', [6, 7, 8], '5', '5', '5', [6, 7, 8]]

In [ ]:
#1 ~ 100 숫자 중에서 짝수만 리스트로 생성
#range(시작, 종료, 증감) : 종료는 포함하지 않음.

even = []
#짝수
for i in range(2, 101, 2):
    even.append(i)
print(even)

#홀수
for j in range(1, 101, 2):
    print(j, end="  ")

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
1  3  5  7  9  11  13  15  17  19  21  23  25  27  29  31  33  35  37  39  41  43  45  47  49  51  53  55  57  59  61  63  65  67  69  71  73  75  77  79  81  83  85  87  89  91  93  95  97  99

In [ ]:
#리스트 원본 정렬해버리는 => "sort()" - 오름차순


list1 =[1,4,3,2]
list1.sort()
list1

[1, 2, 3, 4]

In [ ]:
list2 = ['z','b','c','f']

list2.sort()
list2

['b', 'c', 'f', 'z']

In [72]:
list2 = ['A','b','C','f'] #대문자부터 정렬(아스키 코드값 기준)

list2.sort()
list2

['A', 'C', 'b', 'f']

In [73]:
#내림차순
#sort(reverse = True)
print("정렬 전", list2)

list2.sort(reverse = True)
print("정렬 후", list2)

정렬 전 ['A', 'C', 'b', 'f']
정렬 후 ['f', 'b', 'C', 'A']

In [ ]:
#reverse() : 거꾸로 뒤집음, 정렬개념이 아님
print(list3)

list3.reverse()
print(list3)

[6.5, 5.5, 4, 3, 2, 1]
[1, 2, 3, 4, 5.5, 6.5]

In [7]:
#index() : 특정 요소 위치 반환(없는 경우 error)

#list3.index(9) 
list3.index(1)

0

In [ ]:
#insert() : 특정 위치 지정해서 요소 삽입 <> append: 무조건 뒤에서 삽입.

list3.insert(2,35)

In [11]:
list3

[1, 2, 35, 3, 4, 5.5, 6.5]

In [12]:
#remove: 첫번째로 나오는 요소 삭제(list 전용 삭제<>del : 공통 삭제 기능)
#4값을 없앨 시, 첫번째 4값만 없앰.

list3.remove(4)
list3

[1, 2, 35, 3, 5.5, 6.5]

In [13]:
#pop() : 리스트 된 맨 마지막 요소를 리턴하고 그 요소는 삭제.


list3.pop()

list3

[1, 2, 35, 3, 5.5]

In [14]:
#index 를 줘서 특정 위치에 있는 값을 삭제할 수 있다.
list3.pop(1)
list3

[1, 35, 3, 5.5]

In [16]:
#count() : 리스트에 포함된 요소 개수를 센다
list3.count(35)

1

In [17]:
#append() : 값을 하나만 넣을 수 있다.
list3.append(4)
list3

[1, 35, 3, 5.5, 4]

In [20]:
#append 에서 여러 개 값을 넣어주고 싶다면? list(배열 개념)들어감.
list3.append([7,8,9])
list3

[1, 35, 3, 5.5, 4, [7, 8, 9]]

In [21]:
#extend: 확장
list3.extend([16,17,18])
list3

[1, 35, 3, 5.5, 4, [7, 8, 9], 16, 17, 18]

In [25]:
# 참 : list 안에 요소를 가지고 있으면 True  <>
# 거짓 : 비어있을 경우 --> [리스트], "문자열" 

if list2:
    print(True)
else: 
    print(False)

True

In [26]:
list2

['a', 'b', 'c', 1, 2, 3]

In [ ]:
#list 각 요소의 (*2) 한 후, 새로운 리스트로 반환.
list1 = [1,2,3,4]

list2 = []
#list1 안에 있는 값을 하나씩 꺼내서 
# 변수 num에 임시로 저장
for num in list1:  
    list2.append(num*2)

list2

[2, 4, 6, 8]

In [ ]:
#리스트 컴프리헨션 
#list1의 각 요소 x를 2배로 곱한 결과를
#새로운 리스트 list3에 담는 코드
#[원소 처리 for 원소 in 리스트]
list3 = [x * 2 for x in list1 ]

list3

[2, 4, 6, 8]

In [ ]:
#range(5)에 대해 제곱값 생성 --> "x * x"실행
print([x * x for x in range(5)])

[0, 1, 4, 9, 16]

1. 메뉴선택
A 자동차 들어감, 주차장 상태 ==> ["A"]
B 자동차 들어감, 주차장 상태 ==> ["A", "B"]
...
E 자동차 들어감, 주차장 상태 ==> ["A", "B", "C", "D", "E"]

2. 메뉴 선택
E 자동차 나감. 주차장 상태 ==> ["A", "B", "C", "D"]

In [36]:
# 문자 => 유니코드 값
print(ord("A"))

#유니코드 값 => 문자
print(chr(65))

65
A

In [ ]:
#주차장 프로그램 작성
# pass 구문 = 작성 전 오류 안 나기 위해 사용함.

parking_lot = [] # 주차장 (스택 역할)
top,car_name = 0, "A"  # 현재 주차된 차량 수


while True:
    no = int(input("[1] 자동차 넣기 | [2] 자동차 빼기 | [3] 종료" ))
if no <= 3:    
    if no == 1:
        if top >= 5: #주차장 꽉 찼음 출력
            print("주차장 꽉 찼음")
        else:
            parking_lot.append(car_name)
        #A 자동차 들어감, 주차장 상태 ==> ["A"]
            print(f"{car_name} 자동차 들어감. 주차장 상태 ==>{parking_lot}")
            top += 1
            car_name = chr(ord(car_name) +1)
    elif no == 2:
         if top > 0:
            outCar = parking_lot.pop()
            print(f"{outCar} 자동차 나감. 주차장 상태 ==>{parking_lot}")
            top -= 1
            car_name = chr(ord(car_name) -1)
         else:
            print("빠져나갈 자동차 없음")
    elif no == 3:
        print("프로그램 종료")
        break              
else:
    print("메뉴를 확인해 주세요")

IndentationError: unexpected indent (992646602.py, line 30)

In [ ]:
# 주차장 프로그램

parking_lot = []  # 주차장 (스택 역할)
top,car_name = 0, "A"  # 현재 주차된 차량 수

while True:
    print("\n[1] 자동차 넣기 | [2] 자동차 빼기 | [3] 종료")
    no = int(input("메뉴 선택: "))

    if no == 1:
        if top >= 5:
            print("🚫 주차장 꽉 찼음")
        else:
            car_name = input("차 번호 입력: ")
            parking_lot.append(car_name)
            top += 1
            print(f"✅ {car_name} 자동차 들어감. 주차장 상태 ==> {parking_lot}")
    
    elif no == 2:
        if top > 0:
            outCar = parking_lot.pop()
            top -= 1
            print(f"⬅️ {outCar} 자동차 나감. 주차장 상태 ==> {parking_lot}")
        else:
            print("🚫 빠져나갈 자동차 없음")

    elif no == 3:
        print("👋 프로그램 종료")
        break
    
    else:
        print("⚠️ 메뉴를 확인해 주세요")

[1] 자동차 넣기 | [2] 자동차 빼기 | [3] 종료
✅ A 자동차 들어감. 주차장 상태 ==> ['A']

[1] 자동차 넣기 | [2] 자동차 빼기 | [3] 종료
👋 프로그램 종료

### List comprehension

In [ ]:
list3 = [x * 2 for x in list1 ]

In [ ]:
print([x * x for x in range(5)])

In [ ]:
list1 = ["갑","을","병","정"]
#정 글자만 제외하고 새로운 list로 생성

# list2 = []

# for s in list1:
#     if s != "정":
#         list2.append(s)

# print(list2)      

list2 = [s for s in list1  if s != "정"]
print(list2)

['갑', '을', '병']

In [ ]:
#1~100 숫자 중 홀수만 리스트로 생성.

# list2 = []
# for i in range(1,101):
#     if i % 2 ==1 :
#         list2.append(i)

# print(list2)

list2 = [ i for i in range(1,101) if i % 2 ==1 ]
print("list2:", list2)        


list3 = list(range(1,101,2))
print("list3:", list3)

list3: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
list2: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [ ]:
#5글자 이상의 단어만 새로운 리스트로 생성
#해당 방식 많이 사용함.

list1 = ["nice", "study","python","anaconda","!"]

# list2 =[]
# for s in list1:
#     if len(s) >= 5:
#         list2.append(s)
# print(list2)

list2 = [s for s in list1  if len(s) >= 5]
print(list2)

['study', 'python', 'anaconda']

In [60]:
print([ [x, x+1, x+2] for x in [1,2,3]])

[[1, 2, 3], [2, 3, 4], [3, 4, 5]]

###  tuple
 - 리스트와 유사함
 - ()로 감싼다.
 - tuple 요소값 변경이 불가능함.
 - (=)읽기만 가능함
 - 접근 시 속도 빠름

 tuple은 함수의 리턴타입, 조회용, 자료 담을 때 주로 사용한다.

In [67]:
#tuple 생성
t1 = ()
t2 = 1,2,3
t3 = (1,) #1개의 요소만 가질 땐 반드시 ","가져야 한다.
t4 = (1,2,3)
t5 = ("a","b", ("ab", "cd"))

In [70]:
t2

(1, 2, 3)

In [ ]:
#u,d...tuple은 변경이 안됨
del t2[0]
t2[0] =5

TypeError: 'tuple' object doesn't support item deletion

In [75]:
#인덱싱과 슬라이싱
print(t4[2])#인덱싱
print(t4[1:]) #슬라이싱

3
(2, 3)

In [ ]:
# (+ - 연결) , (* - 반복)

t6 = t3 + t4
print(t6)

t7 = t6 * 3
print(t7)

(1, 1, 2, 3)
(1, 1, 2, 3, 1, 1, 2, 3, 1, 1, 2, 3)