### 모듈
 - 함수, 클래스 모아놓은 파일

### 패키지
 - 관련있는 모듈의 집합

In [ ]:
import math

print(math.ceil(3.14))
print(math.floor(3.14))
print(math.sin(3))

4
3
0.1411200080598672

In [ ]:
import random

# 0.0 <=  < 1.0
print(random.random())

#uniform(x,y) : x ~ y 사이의  임의의 값 float 리턴
print(random.uniform(10, 20))

#randrange(max) : 0~max 사이의 int 값 리턴
#randrange(min ,max) : min ~ max 사이의 int 값 리턴
print(random.randrange(10))
print(random.randrange(10,20))

#choice
list1 = [1,2,3,4,5,6,7]
#choice(리스트) : 리스트에서 임의로 하나 
print(random.choice(list1))

#shuffle(리스트): 리스트 내부 요소들을 랜덤하게 섞기
random.shuffle(list1)
print(list1)

#sample(리스트, k=숫자) : 리스트 요소 중에서 k개 뽑기
print(random.sample(list1, k=2))

0.7344382341461781
19.82882167115839
7
10
7
[6, 7, 3, 1, 5, 2, 4]
[6, 1]

In [8]:
import time

print("지금부터 5초 정리")
time.sleep(5)
print("프로그램 종료됨")

지금부터 5초 정리
프로그램 종료됨

In [21]:
#import 모듈명 : 전체 모듈 load
#from 모듈명 import 함수명, 클래스명 ... : 사용할 함수, 클래스만 가져오기
#필요한 것만 사용하기에 해당 방법을 많이 쓴다. 

from math import ceil, floor, sin

print(ceil(3.14))
print(floor(3.14))
print(sin(3))

4
3
0.1411200080598672

In [22]:
from random import random, randrange, choice, shuffle, sample, uniform

# 0.0 <=  < 1.0
print(random())

#uniform(x,y) : x ~ y 사이의  임의의 값 float 리턴
print(uniform(10, 20))

#randrange(max) : 0~max 사이의 int 값 리턴
#randrange(min ,max) : min ~ max 사이의 int 값 리턴
print(randrange(10))
print(randrange(10,20))

#choice
list1 = [1,2,3,4,5,6,7]
#choice(리스트) : 리스트에서 임의로 하나 
print(choice(list1))

#shuffle(리스트): 리스트 내부 요소들을 랜덤하게 섞기
shuffle(list1)
print(list1)

#sample(리스트, k=숫자) : 리스트 요소 중에서 k개 뽑기
print(sample(list1, k=2))

0.5665973957243412
17.83632978918682
6
12
5
[1, 4, 5, 2, 7, 3, 6]
[3, 7]

# 커스텀 모듈

In [28]:
import mod1

print(mod1.add(5,6))
print(mod1.sub(10,6))

11
4

In [31]:
from mod1 import add, sub

print(add(5,6))
print(sub(10,6))

11
4

In [33]:
from mod2 import *

obj = Math()
print(obj.solv(5))

print(add(9,12))

78.5398
21

In [34]:
from mod3 import Calc

Calc = Calc(15,5)
print(Calc.sum())

20

In [2]:
import datetime

day1 =datetime.datetime(2025,6,9,13,17,11)
day2 =datetime.date(2025,6,9)
day3 =datetime.date(2023,6,9)
time =datetime.time(13,17,11)

In [ ]:
import time

# 1970-01-01 기준으로 지난 시간 초 단위로 리턴함.
time.time()

1749442767.7721426

In [ ]:
#weekday : 요일을 숫자로 처리( 월 - 0)

print(day1.weekday())

print(day2 - day3) #며칠 지났는지 알려줌.

0
731 days, 0:00:00

In [ ]:
now = datetime.datetime.now() #datetime 모듈 안에 있는 datetime 클래스를 호출함.

now

datetime.datetime(2025, 6, 10, 9, 50, 20, 996643)

In [5]:
from datetime import datetime

now = datetime.now()
now

datetime.datetime(2025, 6, 10, 9, 51, 49, 949277)

In [6]:
now = datetime.today()

now

datetime.datetime(2025, 6, 10, 9, 52, 52, 197052)

In [9]:
print(time.time())

print(time.localtime(time.time()))
print(time.asctime(time.localtime(time.time())))

1749516924.532194
time.struct_time(tm_year=2025, tm_mon=6, tm_mday=10, tm_hour=9, tm_min=55, tm_sec=24, tm_wday=1, tm_yday=161, tm_isdst=0)
Tue Jun 10 09:55:24 2025

### 내장함수

In [12]:
#enumerate() : 리스트, 튜플, 문자열을 입력받아 --> 인덱스와 enumerate 객체 리턴
# - 많이 사용함

list1 = ["body", "foo", "boo", "bar"]

for item in list1:
    print(item)
    
for idx, item in enumerate(list1):
    print(idx, item)

body
foo
boo
bar
0 body
1 foo
2 boo
3 bar

In [ ]:
str1 = "3"

#숫자(int)로 변경 => int(문자숫자)
print(int(str1))
print(int(3.6))

# 실수로 변경 = float()
print(float(str1))
print(float(3))

#문자 => str()
print(str(3))
print(str(3.4))

3
3
3.0
3.0
3
3.4

In [22]:
#tuple <==> list

t1 = (1,2,3)
list1 = [4,5,6]

#list() / tuple()
print(list(t1))
print(tuple(list1))

#len() : 길이 
print(len(t1))
print(len(list1))

[1, 2, 3]
(4, 5, 6)
3
3

In [ ]:
#sort : 기본은 오름차순
#lsit.sort() : 원본 자체를 정렬한다.

#

list1.sort(reverse=True)
list1

[6, 5, 4]

In [33]:
list1 = [4,5,6,2,1]

#원본 자체를 정렬하지 않고 정렬을 원한다면! 
#sorted() : 리스트 정렬 후 그 결과를 새로운 리스트로 리턴
list2 = sorted(list1, reverse=True)

print("list1:",list1)
print("list2:",list2)

list1: [4, 5, 6, 2, 1]
list2: [6, 5, 4, 2, 1]