### Set
 - 집합 자료형
 - 자바 Set 같은 개념
 - 순서가 없음(리스트 같은 개념 아님)

In [ ]:
#생성

set1 = set()
set2 = set([1,2,3,4,5])
set3 = set([1,4,5,6,6])

In [11]:
print(set1)
print(set2)
print(set3)#중복된 값은 스스로 걸려준다, 자바와 동일

set()
{1, 2, 3, 4, 5}
{1, 4, 5, 6}

In [ ]:
# 다른 자료형으로 변경
#list() ,set(), dict()

t1 = (1,2,3,4,5)
set4 = set(t1)

print(set4) #소 -> 중괄호로 바뀜

{1, 2, 3, 4, 5}

In [7]:
dict1 = {"no" : 1, "name": "hong", "age":20}
set5 = set(dict1)
print(set5)

{'name', 'age', 'no'}

In [19]:
set6 = set('abcdefg')
print(set6)

set00 = set('abcdefg')
print(set00)

{'g', 'f', 'd', 'c', 'b', 'a', 'e'}
{'g', 'f', 'd', 'c', 'b', 'a', 'e'}

In [27]:
#set => tuple

t2 = tuple(set4)
t2[0]

1

In [ ]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])


#교집합 #{4, 5, 6}
print(s1 & s2) 
print(s1.intersection(s2)) 

#차집합 #{1, 2, 3}
print(s1 - s2)
print(s1.difference(s2))

#합집합 #{1, 2, 3, 4, 5, 6, 7, 8, 9}
print(s1 | s2)
print(s1.union(s2))

{4, 5, 6}
{4, 5, 6}
{1, 2, 3}
{1, 2, 3}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [35]:
#add() : 1개의 값만 추가

s1.add(9)
s1

{1, 2, 3, 4, 5, 6, 9}

In [36]:
#update() : 값 여러개 추가

s1.update([10,11,12])
s1

{1, 2, 3, 4, 5, 6, 9, 10, 11, 12}

In [ ]:
# remove() : 제거, 이미 제거됐다면  key erorr 발생함.
s1.remove(9)
s1

{1, 2, 3, 4, 5, 6, 10, 11, 12}